@import "tailwindcss";

@font-face {
    font-family: 'KyivTypeTitling';
    src: url('/src/assets/fonts/KyivTypeTitling.ttf') format('truetype');
  }

  .gradient-text {
    background: linear-gradient(to right, #55C1EF 43%, #11192F 80%);
    -webkit-background-clip: text; /* required for gradient text */
    -webkit-text-fill-color: transparent; /* make text transparent */
    font-size: 1.875rem; 
    font-weight: 700; 
  }
  .center-column {
    display: flex;              /* flex */
    flex-direction: column;     /* flex-col */
    align-items: center;        /* items-center */
    justify-content: center;    /* justify-center */
    text-align: center;         /* text-center */
    font-family: 'Kyiv', sans-serif; /* font-kyiv */
  }

.custom-bullet {
  list-style-type: none;
  padding-top: 10px;  
  /* padding-left: 1rem;     */
}

.custom-bullet li {
  position: relative;
  padding-left: 2rem; 
}

.custom-bullet li::before {
  content: ''; /* required for pseudo-element to show */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;   /* bullet width */
  height: 1.5rem;  /* bullet height */
  background-image: url('/dot.png');
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(-10px);}
  to { opacity: 1; transform: translateY(0);}
}

.animate-fade-in {
  animation: fade-in 0.4s ease;
}
